html,
* {
  font-family: Arial;
  font-size: 0.9rem;
}

button {
  padding: 0.5rem;
  background: #2fb1cc;
  color: white;
  border: none;
}

button:hover {
  cursor: pointer;
}

#insert {
  padding: 0.4rem;
  min-width: 50%;
}

.line {
  margin-top: 0.5rem;
}

.seperate-line {
  height: 1px;
  background: #dad5d5;
  margin: 1rem 0;
  width: 100%;
}

#current-status {
  color: green;
}
